################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BlaBlaCarAz.DAL/obj
/BlaBlaCarAz.BLL/obj/project.nuget.cache
/.vs/BlaBlaCarAz/DesignTimeBuild/.dtbcache.v2
/BlaBlaCarAz.UI/obj/project.nuget.cache
bin
obj
/.vs/slnx.sqlite
